openapi: 3.0.0
info:
  description: |2

    https://help.sumologic.com/APIs
  title: Sumo Logic CSE API
  version: 1.0.0
servers:
- url: https://api.us2.sumologic.com/api/sec/v1
- url: https://api.au.sumologic.com/api/sec/v1
- url: https://api.sumologic.com/api/sec/v1
- url: https://api.jp.sumologic.com/api/sec/v1
- url: https://api.in.sumologic.com/api/sec/v1
- url: https://api.eu.sumologic.com/api/sec/v1
- url: https://api.de.sumologic.com/api/sec/v1
- url: https://api.ca.sumologic.com/api/sec/v1
- url: https://api.fed.sumologic.com/api/sec/v1
security:
- basicAuth: []
paths:
  /context-actions:
    get:
      description: ""
      operationId: GetContextActions
      parameters:
      - explode: true
        in: query
        name: iocType
        required: false
        schema:
          enum:
          - ASN
          - DOMAIN
          - HASH
          - IP_ADDRESS
          - MAC_ADDRESS
          - PORT
          - RECORD_PROPERTY
          - URL
          type: string
        style: form
      - explode: true
        in: query
        name: enabled
        required: false
        schema:
          type: boolean
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContextActionsResponse'
          description: A single page of Context Actions
      summary: Get the list of Context Actions
    post:
      description: ""
      operationId: CreateContextAction
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContextActionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContextActionResponse'
          description: The new Context Action
      summary: Create a Context Action
  /context-actions/{id}:
    delete:
      description: ""
      operationId: DeleteContextAction
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteContextActionResponse'
          description: ""
      summary: Delete a Context Action
    get:
      description: ""
      operationId: GetContextAction
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContextActionResponse'
          description: A single Context Action
      summary: Get a Context Action
    put:
      description: ""
      operationId: UpdateContextAction
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContextActionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateContextActionResponse'
          description: The updated Context Action
      summary: Update a Context Action
  /suppress-lists:
    get:
      description: ""
      operationId: GetSuppressLists
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortDir
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSuppressListsResponse'
          description: A single page of Suppress Lists
      summary: Get the list of Suppress Lists
    post:
      description: ""
      operationId: CreateSuppressList
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSuppressListRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSuppressListResponse'
          description: The new Suppress List
      summary: Create a Suppress List
  /suppress-lists/{id}:
    delete:
      description: ""
      operationId: DeleteSuppressList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSuppressListResponse'
          description: ""
      summary: Delete a Suppress List
    get:
      description: ""
      operationId: GetSuppressList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSuppressListResponse'
          description: A single Suppress List
      summary: Get a Suppress List
    put:
      description: ""
      operationId: UpdateSuppressList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSuppressListRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSuppressListResponse'
          description: The updated Suppress List
      summary: Update a Suppress List
  /suppress-lists/{id}/items:
    post:
      description: ""
      operationId: AddItemsToSuppressList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemsToSuppressListRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemsToSuppressListResponse'
          description: Success
      summary: Add Suppress List Items to a Suppress List
  /suppress-list-items/{id}:
    delete:
      description: ""
      operationId: DeleteSuppressListItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSuppressListItemResponse'
          description: Action success status
      summary: Delete a Suppress List Item
    get:
      description: ""
      operationId: GetSuppressListItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSuppressListItemResponse'
          description: A single Suppress List Item
      summary: Get a Suppress List Item
    put:
      description: ""
      operationId: UpdateSuppressListItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSuppressListItemRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSuppressListItemResponse'
          description: The updated Suppress List Item
      summary: Update a Suppress List Item
  /suppress-list-items:
    get:
      description: ""
      operationId: GetSuppressListItems
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: A value to search for
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `targetColumn`\n\
          - `value`\n- `active`\n- `expirationDate`\n- `listName`\n- `description`\n\
          - `created`\n    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: listIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSuppressListItemsResponse'
          description: A single page of Suppress List Items
      summary: Get a list of Suppress List Items
  /insights-configuration:
    get:
      description: ""
      operationId: GetInsightsConfiguration
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightsConfigurationResponse'
          description: The Insight Configuration
      summary: Get Insight Configuration
    put:
      description: ""
      operationId: UpdateInsightConfiguration
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInsightConfigurationRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInsightConfigurationResponse'
          description: The Insight Configuration
      summary: Update Insight Configuration
  /insight-resolutions:
    get:
      description: ""
      operationId: GetInsightResolutions
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightResolutionsResponse'
          description: A single page of Insight Resolutions
      summary: Get the list of Insight Resolutions
    post:
      description: ""
      operationId: CreateInsightResolution
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInsightResolutionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInsightResolutionResponse'
          description: The new Insight Resolution
      summary: Create a Insight Resolution
  /insight-resolutions/{id}:
    delete:
      description: ""
      operationId: DeleteInsightResolution
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInsightResolutionResponse'
          description: Action success status
      summary: Delete a Insight Resolution
    get:
      description: ""
      operationId: GetInsightResolution
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightResolutionResponse'
          description: A single Insight Resolution
      summary: Get a Insight Resolution
    put:
      description: ""
      operationId: UpdateInsightResolution
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInsightResolutionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInsightResolutionResponse'
          description: The updated Insight Resolution
      summary: Update a Insight Resolution
  /match-lists:
    get:
      description: ""
      operationId: GetMatchLists
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortDir
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMatchListsResponse'
          description: A single page of Match Lists
      summary: Get the list of Match Lists
    post:
      description: ""
      operationId: CreateMatchList
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMatchListRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMatchListResponse'
          description: The new Match List
      summary: Create a Match List
  /match-lists/{id}:
    delete:
      description: ""
      operationId: DeleteMatchList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMatchListResponse'
          description: ""
      summary: Delete a Match List
    get:
      description: ""
      operationId: GetMatchList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Return the target_column values as names instead of IDs when
          they are custom columns
        explode: true
        in: query
        name: getTargetCustomColumnName
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMatchListResponse'
          description: A single Match List
      summary: Get a Match List
    put:
      description: ""
      operationId: UpdateMatchList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMatchListRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMatchListResponse'
          description: The updated Match List
      summary: Update a Match List
  /match-lists/{id}/items:
    post:
      description: ""
      operationId: AddItemsToMatchList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemsToMatchListRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemsToMatchListResponse'
          description: Success
      summary: Add Match List Items to a Match List
  /match-list-items/{id}:
    delete:
      description: ""
      operationId: DeleteMatchListItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMatchListItemResponse'
          description: Action success status
      summary: Delete a Match List Item
    get:
      description: ""
      operationId: GetMatchListItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMatchListItemResponse'
          description: A single Match List Item
      summary: Get a Match List Item
    put:
      description: ""
      operationId: UpdateMatchListItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMatchListItemRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMatchListItemResponse'
          description: The updated Match List Item
      summary: Update a Match List Item
  /match-list-items:
    get:
      description: ""
      operationId: GetMatchListItems
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: A value to search for
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `targetColumn`\n\
          - `value`\n- `active`\n- `expirationDate`\n- `listName`\n- `description`\n\
          - `created`\n    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: listIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMatchListItemsResponse'
          description: A single page of Match List Items
      summary: Get a list of Match List Items
  /match-list-items/bulk-delete:
    post:
      description: ""
      operationId: BulkDeleteMatchListItems
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteMatchListItemsRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteMatchListItemsResponse'
          description: List of id with error
      summary: Bulk delete Match List Item
  /signals:
    get:
      description: "Note: This API will not return more than 10,000 Signals for a\
        \ given query, even when split over many pages. To retrieve all Signals, use\
        \ the /signals/all API."
      operationId: GetSignals
      parameters:
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `stage`\n- `contentType`\n\
          - `name`\n- `description`\n- `created`\n- `timestamp`\n- `severity`\n- `entity.id`\n\
          - `entity.ip`\n- `entity.hostname`\n- `entity.username`\n- `entity.value`\n\
          - `entity.type`\n- `entity.sensorZone`\n- `involved_entities`\n- `sensorZone`\n\
          - `suppressed`\n- `ruleId`\n- `ruleType`\n- `prototype`\n- `records`\n-\
          \ `tag`\n- `vendor`\n- `product`\n    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignalsResponse'
          description: A single page of Signals
      summary: Get the list of Signals for a given query
  /signals/all:
    get:
      description: ""
      operationId: GetAllSignals
      parameters:
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `stage`\n- `contentType`\n\
          - `name`\n- `description`\n- `created`\n- `timestamp`\n- `severity`\n- `entity.id`\n\
          - `entity.ip`\n- `entity.hostname`\n- `entity.username`\n- `entity.value`\n\
          - `entity.type`\n- `entity.sensorZone`\n- `involved_entities`\n- `sensorZone`\n\
          - `suppressed`\n- `ruleId`\n- `ruleType`\n- `prototype`\n- `records`\n-\
          \ `tag`\n- `vendor`\n- `product`\n    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextPageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSignalsResponse'
          description: "A single page of Signals, including the nextPageToken which\
            \ can be used to fetch the next page of results. Note: The nextPageToken\
            \ expires after one minute so it must be used soon after it is retrieved."
      summary: Get the list of all Signals
  /signals/{id}:
    get:
      description: ""
      operationId: GetSignal
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignalResponse'
          description: A single Signal
      summary: Get a Signal
  /insights/{id}/enrichments:
    get:
      description: ""
      operationId: GetInsightEnrichments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightEnrichmentsResponse'
          description: A single Insights's enrichments
      summary: Get an Insights's enrichments
  /signals/{id}/enrichments:
    get:
      description: ""
      operationId: GetSignalEnrichments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignalEnrichmentsResponse'
          description: A single Signal's enrichments
      summary: Get a Signal's enrichments
  /entities/{id}/enrichments:
    get:
      description: ""
      operationId: GetEntityEnrichments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityEnrichmentsResponse'
          description: A single Entity's enrichments
      summary: Get an Entity's enrichments
  /insights/{id}/enrichments/{enrichmentType}:
    put:
      description: ""
      operationId: SaveInsightEnrichment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: enrichmentType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveInsightEnrichmentRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveInsightEnrichmentResponse'
          description: The created Enrichment on the Insight
      summary: Create or update an Enrichment on an Insight
  /signals/{id}/enrichments/{enrichmentType}:
    put:
      description: ""
      operationId: SaveSignalEnrichment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: enrichmentType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveSignalEnrichmentRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveSignalEnrichmentResponse'
          description: The created Enrichment on the Signal
      summary: Create or update an Enrichment on a Signal
  /entities/{id}/enrichments/{enrichmentType}:
    put:
      description: ""
      operationId: SaveEntityEnrichment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: enrichmentType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveEntityEnrichmentRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveEntityEnrichmentResponse'
          description: The created Enrichment on the Entity
      summary: Create or update an Enrichment on an Entity
  /entity-criticality-configs:
    get:
      description: ""
      operationId: GetEntityCriticalityConfigs
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityCriticalityConfigsResponse'
          description: A single page of Entity Criticality Configurations
      summary: Get the list of Entity Criticality Configurations
    post:
      description: ""
      operationId: CreateEntityCriticalityConfig
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityCriticalityConfigRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntityCriticalityConfigResponse'
          description: The new Entity Criticality Configuration
      summary: Create an Entity Criticality Configuration
  /entity-criticality-configs/{id}:
    delete:
      description: ""
      operationId: DeleteEntityCriticalityConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEntityCriticalityConfigResponse'
          description: Action success status
      summary: Delete an Entity Criticality Configuration
    get:
      description: ""
      operationId: GetEntityCriticalityConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityCriticalityConfigResponse'
          description: A single Entity Criticality Configuration
      summary: Get an Entity Criticality Configuration
    put:
      description: ""
      operationId: UpdateEntityCriticalityConfig
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityCriticalityConfigRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEntityCriticalityConfigResponse'
          description: The updated Entity Criticality Configuration
      summary: Update an Entity Criticality Configuration
  /insights/counts:
    get:
      description: ""
      operationId: GetInsightCounts
      parameters:
      - explode: true
        in: query
        name: startTimestamp
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endTimestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The duration of the buckets in seconds
        explode: true
        in: query
        name: bucketDuration
        required: true
        schema:
          type: integer
        style: form
      - description: The timezone to use for creating the bucket cutoffs
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: UTC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightCountsResponse'
          description: The count of Insights bucketed by a given interval
      summary: Get the count of Insights over time
  /signals/counts:
    get:
      description: ""
      operationId: GetSignalCounts
      parameters:
      - explode: true
        in: query
        name: startTimestamp
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endTimestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The duration of the buckets in seconds
        explode: true
        in: query
        name: bucketDuration
        required: true
        schema:
          type: integer
        style: form
      - description: The timezone to use for creating the bucket cutoffs (See TZ database
          name for valid values https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: UTC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignalCountsResponse'
          description: The count of Signals bucketed by a given interval
      summary: Get the count of Signals over time
  /records/counts:
    get:
      description: ""
      operationId: GetRecordCounts
      parameters:
      - explode: true
        in: query
        name: startTimestamp
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endTimestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: bucketDuration
        required: true
        schema:
          type: integer
        style: form
      - description: The timezone to use for creating the bucket cutoffs
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: UTC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecordCountsResponse'
          description: The count of Records bucketed by a given interval
      summary: Get the count of Records over time
  /custom-insights:
    get:
      description: ""
      operationId: GetCustomInsights
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomInsightsResponse'
          description: A single page of Custom Insights
      summary: Get the list of Custom Insights
    post:
      description: ""
      operationId: CreateCustomInsight
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomInsightRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomInsightResponse'
          description: The new Custom Insight
      summary: Create a Custom Insight
  /custom-insights/{id}:
    delete:
      description: ""
      operationId: DeleteCustomInsight
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomInsightResponse'
          description: Action success status
      summary: Delete a Custom Insight
    get:
      description: ""
      operationId: GetCustomInsight
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomInsightResponse'
          description: A single Custom Insight
      summary: Get a Custom Insight
    put:
      description: ""
      operationId: UpdateCustomInsight
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomInsightRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomInsightResponse'
          description: The updated Custom Insight
      summary: Update a Custom Insight
  /custom-entity-types:
    get:
      description: ""
      operationId: GetCustomEntityTypes
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomEntityTypesResponse'
          description: A single page of Custom Entity Types
      summary: Get the list of Custom Entity Types
    post:
      description: ""
      operationId: CreateCustomEntityType
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomEntityTypeRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomEntityTypeResponse'
          description: The new Custom Entity Type
      summary: Create a Custom Entity Type
  /custom-entity-types/{id}:
    delete:
      description: ""
      operationId: DeleteCustomEntityType
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomEntityTypeResponse'
          description: Action success status
      summary: Delete a Custom Entity Type
    get:
      description: ""
      operationId: GetCustomEntityType
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomEntityTypeResponse'
          description: A single Custom Entity Type
      summary: Get a Custom Entity Type
    put:
      description: ""
      operationId: UpdateCustomEntityType
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomEntityTypeRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomEntityTypeResponse'
          description: The updated Custom Entity Type
      summary: Update a Custom Entity Type
  /network-blocks:
    get:
      description: ""
      operationId: GetNetworkBlocks
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ADDRESS_BLOCK
          enum:
          - ADDRESS_BLOCK
          - CREATED
          - INTERNAL
          - LABEL
          - SUPPRESSES_SIGNALS
          type: string
        style: form
      - explode: true
        in: query
        name: sortDir
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkBlocksResponse'
          description: A single page of Network Blocks
      summary: Get the list of Network Blocks
    post:
      description: ""
      operationId: CreateNetworkBlock
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkBlockRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNetworkBlockResponse'
          description: The new Network Block
      summary: Create a Network Block
  /network-blocks/{id}:
    delete:
      description: ""
      operationId: DeleteNetworkBlock
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNetworkBlockResponse'
          description: ""
      summary: Delete a Network Block
    get:
      description: ""
      operationId: GetNetworkBlock
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkBlockResponse'
          description: A single Network Block
      summary: Get a Network Block
    put:
      description: ""
      operationId: UpdateNetworkBlock
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNetworkBlockRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateNetworkBlockResponse'
          description: The updated Network Block
      summary: Update a Network Block
  /network-blocks/bulk:
    post:
      description: ""
      operationId: BulkUpsertNetworkBlocks
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpsertNetworkBlocksRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpsertNetworkBlocksResponse'
          description: The created/updated network blocks
      summary: Add or update multiple Network Blocks in one request
  /network-blocks/ip-lookup:
    get:
      description: ""
      operationId: LookupNetworkBlocksByIp
      parameters:
      - explode: true
        in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupNetworkBlocksByIpResponse'
          description: A list of Network Blocks
      summary: Lookup Network Blocks that match a specific IP address
  /entity-normalization/domain-configuration:
    get:
      description: ""
      operationId: GetEntityDomainConfiguration
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityDomainConfigurationResponse'
          description: The Entity Domain Configuration
      summary: Get the Entity Domain Configuration
    put:
      description: ""
      operationId: UpdateEntityDomainConfiguration
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityDomainConfigurationRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEntityDomainConfigurationResponse'
          description: Action success status
      summary: Update the Entity Domain Configuration
  /rule-tuning-expressions:
    get:
      description: ""
      operationId: GetRuleTuningExpressions
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: NAME
          enum:
          - CREATED
          - ENABLED
          - NAME
          - RELATED_RULE_COUNT
          - UPDATED
          type: string
        style: form
      - explode: true
        in: query
        name: sortDir
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleTuningExpressionsResponse'
          description: A single page of Rule Tuning Expressions
      summary: Get the list of Rule Tuning Expressions
    post:
      description: ""
      operationId: CreateRuleTuningExpression
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleTuningExpressionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRuleTuningExpressionResponse'
          description: The new Rule Tuning Expression
      summary: Create a Rule Tuning Expression
  /rule-tuning-expressions/{id}:
    delete:
      description: ""
      operationId: DeleteRuleTuningExpression
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRuleTuningExpressionResponse'
          description: Action success status
      summary: Delete a Rule Tuning Expression
    get:
      description: ""
      operationId: GetRuleTuningExpression
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleTuningExpressionResponse'
          description: A single Rule Tuning Expression
      summary: Get a Rule Tuning Expression
    put:
      description: ""
      operationId: UpdateRuleTuningExpression
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuleTuningExpressionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRuleTuningExpressionResponse'
          description: The updated Rule Tuning Expression
      summary: Update a Rule Tuning Expression
  /automations:
    get:
      description: ""
      operationId: GetAutomations
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAutomationsResponse'
          description: A single page of Automations
      summary: Get the list of Automations
    post:
      description: ""
      operationId: CreateAutomation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAutomationResponse'
          description: The new Automation
      summary: Create an Automation
  /automations/{id}:
    delete:
      description: ""
      operationId: DeleteAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAutomationResponse'
          description: ""
      summary: Delete an Automation
    get:
      description: ""
      operationId: GetAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAutomationResponse'
          description: A single Automation
      summary: Get an Automation
    put:
      description: ""
      operationId: UpdateAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutomationRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutomationResponse'
          description: The updated Automation
      summary: Update an Automation
  /automations/execute:
    post:
      description: ""
      operationId: ExecuteAutomation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteAutomationRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteAutomationResponse'
          description: The list of execution ids and the list of playbooks returning
            with error
      summary: Execute a list of automations to a list of resources
  /insights/{id}/executed-automations:
    get:
      description: ""
      operationId: GetInsightExecutedAutomations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightExecutedAutomationsResponse'
          description: A list of automation
      summary: Get insight executed automations
  /entities/{id}/executed-automations:
    get:
      description: ""
      operationId: GetEntityExecutedAutomations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityExecutedAutomationsResponse'
          description: A list of automation
      summary: Get entity executed automations
  /insight-status:
    get:
      description: ""
      operationId: GetInsightStatuses
      parameters:
      - explode: true
        in: query
        name: includeDisabled
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightStatusesResponse'
          description: A single page of Insight Statuses
      summary: Get the list of Insight Statuses
    post:
      description: ""
      operationId: CreateInsightStatusOption
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInsightStatusOptionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInsightStatusOptionResponse'
          description: The new Insight Status
      summary: Create an Insight Status
  /insight-status/{id}:
    delete:
      description: ""
      operationId: DeleteInsightStatusOption
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInsightStatusOptionResponse'
          description: Action success status
      summary: Delete an Insight Status
    get:
      description: ""
      operationId: GetInsightStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInsightStatusResponse'
          description: A single Insight Status
      summary: Get an Insight Status
    put:
      description: ""
      operationId: UpdateInsightStatusOption
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInsightStatusOptionRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInsightStatusOptionResponse'
          description: The updated Insight Status
      summary: Update an Insight Status
  /entity-group-configurations:
    get:
      description: ""
      operationId: GetEntityGroups
      parameters:
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityGroupsResponse'
          description: A single page of Entity Group Configurations
      summary: Get the list of Entity Group Configurations for a given query
  /entity-group-configurations/{id}:
    delete:
      description: ""
      operationId: DeleteEntityGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEntityGroupResponse'
          description: Action success status
      summary: Delete an Entity Group Configuration
    get:
      description: ""
      operationId: GetEntityGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityGroupResponse'
          description: A single Entity Group Configuration
      summary: Get an Entity Group Configuration
  /entity-group-configurations/inventory:
    post:
      description: ""
      operationId: CreateInventory
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInventoryRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInventoryResponse'
          description: The created Inventory Group
      summary: Create an Inventory Group
  /entity-group-configurations/inventory/{id}:
    put:
      description: ""
      operationId: UpdateInventory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInventoryRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInventoryResponse'
          description: The updated Inventory Group
      summary: Update an Inventory Group
  /entity-group-configurations/entity_value:
    post:
      description: ""
      operationId: CreateEntityValue
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityValueRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntityValueResponse'
          description: The created Entity Value Group
      summary: Create an Entity Value Group
  /entity-group-configurations/entity_value/{id}:
    put:
      description: ""
      operationId: UpdateEntityValue
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityValueRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEntityValueResponse'
          description: The updated Entity Value Group
      summary: Update an Entity Value Group
  /rules:
    get:
      description: ""
      operationId: GetRules
      parameters:
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `category`\n-\
          \ `ruleSource`\n- `ruleType`\n- `stream`\n- `status`\n- `name`\n- `severity`\n\
          - `score`\n- `enabled`\n- `created`\n- `createdBy`\n- `lastUpdated`\n- `lastUpdatedBy`\n\
          - `signalCount07D`\n- `signalCount24H`\n- `isPrototype`\n- `tag`\n- `hasOverride`\n\
          \    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: A comma-separated list of subfields to be returned in the response
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - tuningExpressions
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRulesResponse'
          description: A single page of Rules
      summary: Get the list of Rules for a given query
  /rules/{id}:
    delete:
      description: ""
      operationId: DeleteRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRuleResponse'
          description: Action success status
      summary: Delete a Rule
    get:
      description: ""
      operationId: GetRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A comma-separated list of subfields to be returned in the response
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - tuningExpressions
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleResponse'
          description: A single Rule
      summary: Get a Rule
  /rules/{id}/enabled:
    put:
      description: ""
      operationId: UpdateRuleEnabled
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuleEnabledRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRuleEnabledResponse'
          description: Action success status
      summary: Enable or disable a Rule
  /rules/match:
    post:
      description: ""
      operationId: CreateMatchRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMatchRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMatchRuleResponse'
          description: The created Legacy Match Rule
      summary: Create a Legacy Match Rule
  /rules/match/{id}:
    put:
      description: ""
      operationId: UpdateMatchRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMatchRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMatchRuleResponse'
          description: The updated Legacy Match Rule
      summary: Update a Legacy Match Rule
  /rules/match/{id}/override:
    put:
      description: ""
      operationId: OverrideMatchRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideMatchRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideMatchRuleResponse'
          description: The updated Legacy Match Rule
      summary: Override a Legacy Match Rule
  /rules/threshold:
    post:
      description: ""
      operationId: CreateThresholdRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThresholdRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateThresholdRuleResponse'
          description: The created Threshold Rule
      summary: Create a Threshold Rule
  /rules/threshold/{id}:
    put:
      description: ""
      operationId: UpdateThresholdRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThresholdRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateThresholdRuleResponse'
          description: The updated Threshold Rule
      summary: Update a Threshold Rule
  /rules/threshold/{id}/override:
    put:
      description: ""
      operationId: OverrideThresholdRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideThresholdRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideThresholdRuleResponse'
          description: The updated Threshold Rule
      summary: Override a Threshold Rule
  /rules/templated:
    post:
      description: ""
      operationId: CreateTemplatedMatchRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplatedMatchRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTemplatedMatchRuleResponse'
          description: The created Match Rule
      summary: Create a Match Rule
  /rules/templated/{id}:
    put:
      description: ""
      operationId: UpdateTemplatedMatchRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplatedMatchRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTemplatedMatchRuleResponse'
          description: The updated Match Rule
      summary: Update a Match Rule
  /rules/templated/{id}/override:
    put:
      description: ""
      operationId: OverrideTemplatedMatchRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideTemplatedMatchRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideTemplatedMatchRuleResponse'
          description: The updated Match Rule
      summary: Override a Match Rule
  /rules/chain:
    post:
      description: ""
      operationId: CreateChainRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChainRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChainRuleResponse'
          description: The created Chain Rule
      summary: Create a Chain Rule
  /rules/chain/{id}:
    put:
      description: ""
      operationId: UpdateChainRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChainRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateChainRuleResponse'
          description: The updated Chain Rule
      summary: Update a Chain Rule
  /rules/chain/{id}/override:
    put:
      description: ""
      operationId: OverrideChainRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideChainRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideChainRuleResponse'
          description: The updated Chain Rule
      summary: Override a Chain Rule
  /rules/aggregation:
    post:
      description: ""
      operationId: CreateAggregationRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAggregationRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAggregationRuleResponse'
          description: The created Aggregation Rule
      summary: Create a Aggregation Rule
  /rules/aggregation/{id}:
    put:
      description: ""
      operationId: UpdateAggregationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAggregationRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAggregationRuleResponse'
          description: The updated Aggregation Rule
      summary: Update a Aggregation Rule
  /rules/aggregation/{id}/override:
    put:
      description: ""
      operationId: OverrideAggregationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideAggregationRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideAggregationRuleResponse'
          description: The updated Aggregation Rule
      summary: Override a Aggregation Rule
  /rules/first-seen:
    post:
      description: ""
      operationId: CreateFirstSeenRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFirstSeenRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFirstSeenRuleResponse'
          description: The created First Seen Rule
      summary: Create a First Seen Rule
  /rules/first-seen/{id}:
    put:
      description: ""
      operationId: UpdateFirstSeenRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFirstSeenRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFirstSeenRuleResponse'
          description: The updated First Seen Rule
      summary: Update a First Seen Rule
  /rules/first-seen/{id}/override:
    put:
      description: ""
      operationId: OverrideFirstSeenRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideFirstSeenRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideFirstSeenRuleResponse'
          description: The updated First Seen Rule
      summary: Override a First Seen Rule
  /rules/outlier/{id}/override:
    put:
      description: ""
      operationId: OverrideOutlierRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideOutlierRuleRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideOutlierRuleResponse'
          description: The updated Outlier Rule
      summary: Override a Outlier Rule
  /custom-match-list-columns/{id}:
    delete:
      description: ""
      operationId: DeleteCustomMatchListColumn
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomMatchListColumnResponse'
          description: Action success status
      summary: Delete a Custom Match List Column
    get:
      description: ""
      operationId: GetCustomMatchListColumn
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomMatchListColumnResponse'
          description: A single Custom Match List Column
      summary: Get a Custom Match List Column
    put:
      description: ""
      operationId: UpdateCustomMatchListColumn
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomMatchListColumnRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomMatchListColumnResponse'
          description: The updated Custom Match List Column
      summary: Update a Custom Match List Column
  /custom-match-list-columns:
    get:
      description: ""
      operationId: GetCustomMatchListColumns
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomMatchListColumnsResponse'
          description: A list of all of the Custom Match List Columns
      summary: Get the list of Custom Match List Columns
    post:
      description: ""
      operationId: CreateCustomMatchListColumn
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomMatchListColumnRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomMatchListColumnResponse'
          description: The new Custom Match List Column
      summary: Create a Custom Match List Column
  /entity-lookup-tables/customer-sourced:
    get:
      description: ""
      operationId: GetCustomerSourcedLookupTables
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerSourcedLookupTablesResponse'
          description: A List of customer sourced entity lookup tables
      summary: Get the list of customer sourced entity lookup tables
    post:
      description: ""
      operationId: CreateCustomerSourcedEntityLookupTable
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerSourcedEntityLookupTableRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomerSourcedEntityLookupTableResponse'
          description: The new customer sourced entity lookup table
      summary: Create a customer sourced entity lookup table
  /entity-lookup-tables/customer-sourced/{id}:
    get:
      description: ""
      operationId: GetCustomerSourcedLookupTable
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerSourcedLookupTableResponse'
          description: A single customer sourced entity lookup table
      summary: Get a customer sourced entity lookup table
    put:
      description: ""
      operationId: UpdateCustomerSourcedEntityLookupTable
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerSourcedEntityLookupTableRequestBody'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerSourcedEntityLookupTableResponse'
          description: The updated customer sourced entity lookup table
      summary: Update a customer sourced entity lookup table
  /entity-lookup-tables/customer-source/{id}:
    delete:
      description: ""
      operationId: DeleteCustomerSourcedEntityLookupTable
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomerSourcedEntityLookupTableResponse'
          description: Action success status
      summary: Remove a customer sourced entity lookup table
  /entities:
    get:
      description: "Note: This API will not return more than 10,000 Entities for a\
        \ given query, even when split over many pages. To retrieve all Entities,\
        \ use the /entities/all API."
      operationId: GetEntities
      parameters:
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `ip`\n- `hostname`\n\
          - `username`\n- `value`\n- `sensorZone`\n- `whitelisted`\n- `type`\n- `tag`\n\
          - `activityScore`\n- `recentSignalSeverity`\n- `lastSeen`\n- `criticality`\n\
          - `reputation`\n    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - description: A comma-separated list of subfields to be returned in the response
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - inventory
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntitiesResponse'
          description: A single page of Entities
      summary: Get the list of Entities
  /entities/all:
    get:
      description: ""
      operationId: GetAllEntities
      parameters:
      - description: "\n    The search query string in our custom DSL that is used\
          \ to filter the results.\n\n    Operators:\n    - `exampleField:\"bar\"\
          `: The value of the field is equal to \"bar\".\n    - `exampleField:in(\"\
          bar\", \"baz\", \"qux\")`: The value of the field is equal to either \"\
          bar\", \"baz\", or \"qux\".\n    - `exampleTextField:contains(\"foo bar\"\
          )`: The value of the field contains the phrase \"foo bar\".\n    - `exampleNumField:>5`:\
          \ The value of the field is greater than 5. There are similar `<`, `<=`,\
          \ and `>=` operators.\n    - `exampleNumField:5..10`: The value of the field\
          \ is between 5 and 10 (inclusive).\n    - `exampleDateField:>2019-02-01T05:00:00+00:00`:\
          \ The value of the date field is after 5 a.m. UTC time on February 2,\n\
          \        2019.\n    - `exampleDateField:2019-02-01T05:00:00+00:00..2019-02-01T08:00:00+00:00`:\
          \ The value of the date field is between 5 a.m.\n        and 8 a.m. UTC\
          \ time on February 2, 2019.\n\n    Fields:\n    - `id`\n- `ip`\n- `hostname`\n\
          - `username`\n- `value`\n- `sensorZone`\n- `whitelisted`\n- `type`\n- `tag`\n\
          - `activityScore`\n- `recentSignalSeverity`\n- `lastSeen`\n- `criticality`\n\
          - `reputation`\n    "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextPageToken
        required: false
        schema:
          type: string
        style: form
[...]
